:root {
    --background: #f0f6ff80;
    --primary-color: #002f61;
    --stroke: #ffffff;
}


.work-sans-400 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: 'work-sans-400', sans-serif;
    background-color: var(--background);
    color: var(--primary-color);
    margin: 32px auto;
    max-width: 960px;
    text-align: center;
}

h1 {
    margin: 0 0 32px 0;
}

img {
    max-width:50%;
}

span {
    margin: 0 8px;
}

.preset-selector {
    font-family: "Work Sans", sans-serif;
    /* Basic styling */
    background-color: var(--background);
    color: var(--primary-color);
    padding: 2px 4px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid var(--primary-color);
    border-radius: 0px;
    cursor: pointer;
  
}

p.description {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    max-width: 720px;
    margin: 32px auto;
    line-height: 1.5;
    text-align: left;

    transition: 0.5s ease-in-out;
}

svg {
    margin: -68px auto 0 auto;
    width: 100%;
    height: auto;
    overflow: visible;
}

circle {
    fill: var(--stroke);
    /* stroke: var(--primary-color); */
    /* stroke-width: 2px; */
}

line {
    stroke-width: 1px;
    stroke-dasharray: 2 8;
}

path {
    stroke: var(--primary-color);
    stroke-width: 3px;
}

text.x-axis, text.y-axis {
    font-size: 18px;
    font-weight: bold;
    fill: var(--primary-color);
}

g.stocks circle {
    cursor: pointer;
}
g.stocks:hover rect, g.stocks:hover text {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1000px) {
    body {
        margin: 20px;
    }
    .preset-selector {
        font-size: 12px;
    }
    p.description {
        font-size: 12px;
        max-width: 70%;
    }
    img {
        max-width: 70%;
    }
}